<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.com.sustentate.ia">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens   android:resizeable="true"
                        android:smallScreens="true"
                        android:normalScreens="true"
                        android:largeScreens="true"
                        android:xlargeScreens="false"
                        android:anyDensity="false"
                        android:requiresSmallestWidthDp="300"
                        android:compatibleWidthLimitDp="320"
                        android:largestWidthLimitDp="480"/>

    <uses-sdk
        android:targetSdkVersion="28"
        android:maxSdkVersion="28"
        android:minSdkVersion="18"
        tools:ignore="GradleOverrides" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="ar.com.sustentate.ia.ui.SlideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ar.com.sustentate.ia.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ar.com.sustentate.ia.ui.HomeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="ar.com.sustentate.ia.utils.GlideConfiguration"
            android:value="GlideModule" />

        <activity android:name="ar.com.sustentate.ia.ui.DetalleActivity"
            android:parentActivityName="ar.com.sustentate.ia.ui.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="ar.com.sustentate.ia.ui.ActivityEvento"
            android:label="@string/title_activity_evento"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:parentActivityName="ar.com.sustentate.ia.ui.HomeActivity"/>

        <activity
            android:name="ar.com.sustentate.ia.ui.ChatBotActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:parentActivityName="ar.com.sustentate.ia.ui.HomeActivity" />
    </application>

</manifest>